.spinnerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  height: 3rem;
  width: 3rem;
  border-top: 2px solid #3b82f6;
  border-bottom: 2px solid #3b82f6;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
